.order-in-my-order-page {
  font-size: 1.4vw;
}


.order-in-my-order-page__text {
  margin: 0;
  white-space: pre;
  text-align: center;
}
.order-in-my-order-page__first-line {

}
.order-in-my-order-page__order-number {
}
.order-in-my-order-page__quantity-dishes {
}
.order-in-my-order-page__amount {
}
.order-in-my-order-page__discount-on-promocodes {
}