.dish-in-menu {
  display: grid;
  grid-template-rows: minmax(0, 1fr) min-content;
  grid-template-areas:
    "dish-image"
    "dish-details-button";
  width: 14vw;
  height: 14vw;
  row-gap: 0.5vw;
}
.dish-in-menu__image {
  grid-area: dish-image;
  display: block;
  margin: 0 0 0.2rem 0;
  object-fit: contain;
  justify-self: center;
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(-10px 10px 5px black);
}
.dish-in-menu__dish-details-button {
  grid-area: dish-details-button;
}
