.dish-in-order-page {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-template-rows: minmax(0, 1fr) auto;
  grid-template-areas:
    "dish-image operations"
    "dish-details-button dish-details-button";
  width: 14vw;
  height: 14vw;
  row-gap: 0.5vw;
  column-gap: 0;
}

.dish-in-order-page__dish-image {
  grid-area: dish-image;
  display: block;
  justify-self: center;
  box-sizing: border-box;
  padding: 0 0 0.2rem 0;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(-10px 10px 5px black);
}

.dish-in-order-page__dish-image_operation-add {
  cursor: pointer;
}

.dish-in-order-page__operations {
  grid-area: operations;
}

.dish-in-order-page__dish-details-button {
  grid-area: dish-details-button;
}