.dish-in-cart {
  display: grid;
  grid-template-columns:
    auto 1fr;
  grid-template-areas:
    "operations dish-details-button";
  column-gap: 0.5rem;
}

.dish-in-cart__operations {
  grid-area: operations;
}

.dish-in-cart__dish-details-button {
  grid-area: dish-details-button;
}