.dish-details-button {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) min-content;
  grid-template-areas:
    "dish details-button";
  column-gap: 0.2vw;
}

.dish-details-button__dish {
  grid-area: dish;
}
.dish-details-button__details-button {
  grid-area: details-button;
  display: block;
}
.dish-details-button__details-button-icon {
  height: 1vw;
  width: 1vw;
  background-image: url(../../../images/icons/dish-details.svg);
  background-size: contain;
}

.dish-details-button__details-button-icon:hover {
  background-image: url(../../../images/icons/dish-details-hover.svg);
}