.dish {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'name weight'
    'name cost'
    'name cost-including-promocodes';
}

.dish__item {
  margin-block: 0; /*unset default*/
  margin-block: 0; /*unset default*/
}

.dish__item_name {
  grid-area: name;
  text-align: center;
  padding: 0 4px 0 0;

}
.dish__item_weight {
  grid-area: weight;
  text-align: right;
  padding: 0 0 0 4px;
  align-self: start;
}

.dish__item_cost {
  grid-area: cost;
  text-align: right;
  padding: 0 0 0 4px;
  align-self: center;
}

.dish__item_cost-including-promocodes {
  grid-area: cost-including-promocodes;
  text-align: right;
  padding: 0 0 0 4px;
  align-self: center;
}

.dish__item_strikethrough {
  color: rgb(187, 84, 84);
  text-decoration: line-through;
}

