.dish-in-order-page {
  display: grid;
  grid-template-rows: minmax(0, 1fr), min-content;
  grid-template-areas:
    "dish-image-with-operations"
    "dish-details-button";
  width: 14vw;
  height: 14vw;
  row-gap: 0.5vw;
}

.dish-in-order-page__dish-image-with-operations {
  grid-area: dish-image-with-operations;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 0.5vw;
  min-width: 0;
  min-height: 0;
}

.dish-in-order-page__dish-image {
  grid-area: dish-image;
  display: block;
  box-sizing: border-box;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(-10px 10px 5px black);
}

.dish-in-order-page__dish-image_operation-add {
  cursor: pointer;
}

.dish-in-order-page__operations {
  width: 2.5vw;
  grid-area: operations;
}

.dish-in-order-page__dish-details-button {
  grid-area: dish-details-button;
}