
.operations-on-dish-in-cart {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  align-self: start;
  row-gap: 0.4vw;
}

.operations-on-dish-in-cart__operation {
  cursor: pointer;
  width: 1.3vw;
  height: 1.3vw;
  background-size: contain;
  align-self: center;
  justify-self: center;
  background-repeat: no-repeat;
}

.operations-on-dish-in-cart__operation-add {
  background-image: url(../../images/icons/dish-add.svg);
}

.operations-on-dish-in-cart__operation-delete {
  background-image: url(../../images/icons/dish-delete.svg);
}

.operations-on-dish-in-cart__operation-delete-all {
  background-image: url(../../images/icons/dish-delete-all.svg);
}

.operations-on-dish-in-cart__operation-add:hover {
  background-image: url(../../images/icons/dish-add-hover.svg);
}

.operations-on-dish-in-cart__operation-delete:hover {
  background-image: url(../../images/icons/dish-delete-hover.svg);
}

.operations-on-dish-in-cart__operation-delete-all:hover {
  background-image: url(../../images/icons/dish-delete-all-hover.svg);
}

.operations-on-dish-in-cart__count-dishes {
  margin: 0;
  text-align: center;
}
/*
.container {
  width: 100%;
  padding-top: 100%; 
  position: relative; 
  border-style: solid;
  border-radius: 50%;
  border-width: 0.1rem;
}

.text {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}*/